### Python Programming Concepts

#### 1. Create a variable to store the value 500 for sales

In [1]:
sales = 500
print(sales)

500

#### 2. Create a variable to store several values:  
* sales: 500, 475, 625
* integers 1 - 9

In [2]:
sales_various = [500,475,625]
int_various = list(range(1,10))
print(sales_various)
print(int_various)

[500, 475, 625]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

#### 3. Create a variable to store the names and email addresses for a number of customers
* John, john@some.com; Ann, ann@some.com

In [3]:
customers = [{"name": "John", "email": "john@some.com"},{"name": "Ann", "email": "ann@some.com"}]
print(customers)

[{'name': 'John', 'email': 'john@some.com'}, {'name': 'Ann', 'email': 'ann@some.com'}]

#### 4. Use Python to generate a random value based on each of following:
1. between 0 and 1
2. the standard normal distribution (rounded to two decimal places)
3. a value between 1 and 10
4. either H or T

In [4]:
import random

In [5]:
#1
random_1 = random.random()
print(random_1)

0.3790485508264244

In [6]:
#2
random_gauss_2 = random.gauss(0,1)
random_2 = round(random_gauss_2, 2)
print(random_2)

0.33

In [7]:
#3
random_3 = random.randint(1,10)
print(random_3)

2

In [8]:
#4
random_4 = random.choice(["H","T"])
print(random_4)

T

In [9]:
# BONUS = 10 FLIPS
flips = ""
for flip in range(10):
    flips += random.choice(["H","T"])
print(flips)
flips.split("T")

HTHTTHHHHH

['H', 'H', '', 'HHHHH']

#### 5. Use Python to determine your current working directory

In [10]:
import os
path = os.getcwd()
print(path)

#See all files in the directory
#os.listdir()
#os.chdir("..")
#os.mkdir()

/Users/jorge/Documents/BABSON/03 SPRING/ADVANCED PROGRAMMING OIM7502/Classwork

#### 6. Use Python to determine how many days until New Year's Day

In [11]:
import datetime as dt
today = dt.date.today()

days_to_ny = dt.date(2025, 1, 1)

days_to_ny - today

#dt.datetime.now()

datetime.timedelta(days=344)

#### 7. Write a short program that displays the future value of 1,000 earning 5%  at the end of each year for the next 5 years

In [12]:
pv = 1000
rate = .05
years = 5
print(f"{'Vear': <15}{'Value':>10}")
print("-" * 25)
for year in range(1, years + 1):
    print(f"{year:<15d}{pv * (1+ rate ** year):>,.2f}")

Vear                Value
-------------------------
1              1,050.00
2              1,002.50
3              1,000.12
4              1,000.01
5              1,000.00

#### 8. Write a short program that prompts a user to enter a stock symbol and press enter. Add each symbol entered to a variable. The program should run until the user presses the enter key without entering anything (empty string)

In [13]:
stocks = []
while True:
    symbol = input("Enter stock symbol or press enter to quit:")
    if symbol == "":
        break
    stocks.append(symbol)
print(stocks)

Enter stock symbol or press enter to quit:
[]

#### 9. Write the code necessary to calculate the sum of the square differences of a group of values : 
58, 32, 37, 41, 36, 36, 54, 37, 25, 53
##### $\Sigma $(${x}$ - $\bar{x}$)$^2$

In [14]:
values_list = [58, 32, 37, 41, 36, 36, 54, 37, 25, 53]
mean_values = sum(values_list) / len(values_list)
sum_square_diff = sum((x - mean_values) ** 2 for x in values_list)
sum_square_diff_round = round(sum_square_diff,2)
print(sum_square_diff_round)

1020.9

In [15]:
#I don't really understand this last asignment

#### 10. Opening, reading and writing files. Look in the data folder from the class repo, there is a file there called desolation_row.txt. For Q10 open that file and read its contents into a string variable

In [18]:
file_path = '/Users/jorge/Documents/BABSON/03 SPRING/ADVANCED PROGRAMMING OIM7502/Classwork/data/desolation_row.txt'
with open(file_path, 'r') as file:
    file_contents = str(file.read())
print(file_contents)

They're selling postcards of the hanging, they're painting the passports brown
The beauty parlor is filled with sailors, the circus is in town
Here comes the blind commissioner, they've got him in a trance
One hand is tied to the tight-rope walker, the other is in his pants
And the riot squad they're restless, they need somewhere to go
As Lady and I look out tonight, from Desolation Row
Cinderella, she seems so easy, "It takes one to know one, " she smiles
And puts her hands in her back pockets Bette Davis style
And in comes Romeo, he's moaning. "You Belong to Me I Believe"
And someone says, "You're in the wrong place, my friend, you'd better leave"
And the only sound that's left after the ambulances go
Is Cinderella sweeping up on Desolation Row
Now the moon is almost hidden, the stars are beginning to hide
The fortune telling lady has even taken all her things inside
All except for Cain and Abel and the hunchback of Notre Dame
Everybody is making love or else expecting rain
And the Good Samaritan, he's dressing, he's getting ready for the show
He's going to the carnival tonight on Desolation Row
Ophelia, she's 'neath the window for her I feel so afraid
On her twenty-second birthday she already is an old maid
To her, death is quite romantic she wears an iron vest
Her profession's her religion, her sin is her lifelessness
And though her eyes are fixed upon Noah's great rainbow
She spends her time peeking into Desolation Row
Einstein, disguised as Robin Hood with his memories in a trunk
Passed this way an hour ago with his friend, a jealous monk
Now he looked so immaculately frightful as he bummed a cigarette
And he when off sniffing drainpipes and reciting the alphabet
You would not think to look at him, but he was famous long ago
For playing the electric violin on Desolation Row
Dr. Filth, he keeps his world inside of a leather cup
But all his sexless patients, they're trying to blow it up
Now his nurse, some local loser, she's in charge of the cyanide hole
And she also keeps the cards that read, "Have Mercy on His Soul"
They all play on the penny whistles, you can hear them blow
If you lean your head out far enough from Desolation Row
Across the street they've nailed the curtains, they're getting ready for the feast
The Phantom of the Opera in a perfect image of a priest
They are spoon feeding Casanova to get him to feel more assured
Then they'll kill him with self-confidence after poisoning him with words
And the Phantom's shouting to skinny girls, "Get outta here if you don't know"
Casanova is just being punished for going to Desolation Row"
At midnight all the agents and the superhuman crew
Come out and round up everyone that knows more than they do
Then they bring them to the factory where the heart-attack machine
Is strapped across their shoulders and then the kerosene
Is brought down from the castles by insurance men who go
Check to see that nobody is escaping to Desolation Row
Praise be to Nero's Neptune, the Titanic sails at dawn
Everybody's shouting, "Which side are you on?!"
And Ezra Pound and T.S. Eliot fighting in the captain's tower
While calypso singers laugh at them and fishermen hold flowers
Between the windows of the sea where lovely mermaids flow
And nobody has to think too much about Desolation Row
Yes, I received your letter yesterday, about the time the doorknob broke
When you asked me how I was doing, was that some kind of joke
All these people that you mention, yes, I know them, they're quite lame
I had to rearrange their faces and give them all another name
Right now, I can't read too good, don't send me no more letters no
Not unless you mail them from Desolation Row

#### 11. Create a function the will simulate rolling two die and return the value of each and and the sum

In [26]:
#11
def roll():
    random_die_1 = random.randint(1, 6)
    random_die_2 = random.randint(1, 6)
    total = random_die_1 + random_die_2
    return random_die_1, random_die_2, total

In [30]:
#Calling the new function
roll()

(4, 5, 9)

#### 12. Write the code needed to evaluate whether a value in a group of values is negative or postive and prints an approriate message, i.e. postive, negative 
-1.59, 2.36, 1.69, 1.13, -0.91, 1.48, -0.34, 1.31, -0.74, 0.2

In [35]:
list_values = [-1.59, 2.36, 1.69, 1.13, -0.91, 1.48, -0.34, 1.31, -0.74, 0.2]

In [37]:
def evaluate_values(list_values):
    for value in list_values:
        if value < 0:
            print(value, "is negative")
        elif value > 0:
            print(value, "is positive")
        else:
            print(value,"is zero")

In [38]:
#Calling the new function
evaluate_values(list_values)

-1.59 is negative
2.36 is positive
1.69 is positive
1.13 is positive
-0.91 is negative
1.48 is positive
-0.34 is negative
1.31 is positive
-0.74 is negative
0.2 is positive

#### 14.  Complete the following:
1. Write a program that generates 500 random integers from 1 to n, for example, the first integer will be 1 the second will be 1 or 2, the fifth between 1 and 5, and so on.
2. The program should write each integer to a file 
3. Once all integers are written close the file

##### Part 2
1. Open and read the file into a list
2. Create a line plot of the data

In [59]:
#1
def generate_random_integers(n):
    random_integers = []
    for i in range(1, n + 1):
        random_int = random.randint(1, i)
        random_integers.append(random_int)
    return random_integers

In [70]:
generate_random_integers(500)

[1,
 2,
 1,
 1,
 3,
 1,
 3,
 1,
 3,
 3,
 5,
 4,
 11,
 11,
 9,
 16,
 11,
 6,
 12,
 13,
 3,
 10,
 21,
 12,
 18,
 6,
 11,
 26,
 3,
 12,
 29,
 10,
 11,
 18,
 34,
 35,
 36,
 2,
 36,
 32,
 20,
 16,
 19,
 27,
 24,
 40,
 6,
 18,
 23,
 16,
 46,
 22,
 6,
 7,
 51,
 13,
 11,
 30,
 51,
 60,
 21,
 19,
 28,
 6,
 26,
 8,
 30,
 10,
 60,
 58,
 55,
 43,
 56,
 37,
 62,
 25,
 57,
 1,
 23,
 39,
 8,
 82,
 44,
 27,
 1,
 58,
 63,
 73,
 57,
 49,
 59,
 41,
 26,
 16,
 47,
 10,
 74,
 45,
 90,
 22,
 66,
 51,
 34,
 18,
 56,
 64,
 29,
 20,
 74,
 63,
 64,
 21,
 15,
 99,
 84,
 63,
 55,
 112,
 111,
 81,
 82,
 73,
 63,
 68,
 109,
 70,
 29,
 108,
 55,
 78,
 46,
 56,
 6,
 103,
 21,
 109,
 115,
 22,
 44,
 37,
 110,
 124,
 57,
 45,
 60,
 38,
 125,
 54,
 76,
 104,
 99,
 75,
 18,
 29,
 136,
 64,
 156,
 84,
 100,
 99,
 96,
 64,
 105,
 3,
 55,
 17,
 99,
 119,
 113,
 90,
 19,
 7,
 111,
 2,
 21,
 140,
 169,
 138,
 108,
 48,
 104,
 117,
 43,
 138,
 153,
 114,
 139,
 47,
 132,
 49,
 59,
 104,
 135,
 27,
 50,
 177,
 106,
 1,
 148,
 112,
 193,
 109,
 116,
 67,
 26,
 107,
 77,
 130,
 137,
 1,
 166,
 42,
 86,
 33,
 29,
 214,
 155,
 61,
 91,
 132,
 165,
 102,
 124,
 199,
 61,
 33,
 10,
 62,
 119,
 191,
 48,
 93,
 147,
 206,
 210,
 227,
 73,
 158,
 48,
 44,
 174,
 172,
 83,
 21,
 21,
 86,
 234,
 229,
 228,
 134,
 101,
 11,
 86,
 73,
 128,
 85,
 136,
 9,
 256,
 199,
 36,
 43,
 157,
 31,
 184,
 248,
 6,
 44,
 195,
 10,
 74,
 199,
 234,
 161,
 144,
 217,
 270,
 41,
 28,
 208,
 236,
 58,
 139,
 237,
 226,
 61,
 279,
 196,
 254,
 129,
 7,
 85,
 255,
 139,
 108,
 119,
 255,
 38,
 255,
 240,
 76,
 159,
 284,
 118,
 290,
 253,
 14,
 271,
 273,
 269,
 228,
 7,
 16,
 41,
 192,
 295,
 195,
 59,
 151,
 120,
 309,
 100,
 295,
 84,
 107,
 9,
 29,
 104,
 70,
 144,
 168,
 309,
 313,
 175,
 304,
 101,
 11,
 317,
 63,
 290,
 298,
 142,
 88,
 200,
 289,
 312,
 175,
 233,
 69,
 174,
 29,
 331,
 200,
 299,
 149,
 48,
 199,
 45,
 103,
 240,
 7,
 116,
 38,
 123,
 72,
 330,
 336,
 242,
 173,
 251,
 54,
 222,
 184,
 110,
 237,
 262,
 29,
 2,
 132,
 229,
 200,
 34,
 312,
 118,
 293,
 224,
 9,
 295,
 326,
 146,
 258,
 145,
 51,
 221,
 245,
 47,
 372,
 73,
 170,
 206,
 365,
 383,
 27,
 313,
 349,
 72,
 151,
 27,
 295,
 339,
 244,
 363,
 12,
 314,
 159,
 96,
 164,
 26,
 220,
 417,
 24,
 52,
 140,
 354,
 169,
 199,
 113,
 136,
 334,
 429,
 256,
 11,
 340,
 43,
 23,
 412,
 197,
 109,
 427,
 269,
 235,
 45,
 154,
 324,
 36,
 54,
 184,
 282,
 91,
 272,
 23,
 21,
 403,
 5,
 401,
 451,
 228,
 78,
 290,
 435,
 231,
 325,
 268,
 322,
 235,
 379,
 243,
 176,
 59,
 462,
 254,
 69,
 236,
 357,
 105,
 26,
 295,
 396,
 164,
 296,
 462,
 422,
 287,
 257,
 458,
 364,
 373,
 98,
 9,
 222,
 67,
 61,
 434,
 200,
 26,
 274,
 136,
 296,
 252,
 293]

In [ ]:
#2 #3
# I AM UNABLE TO COMPLETE POINT 2 AND 3

In [ ]:
# I AM UNABLE TO COMPLETE PART2